.title {
  margin: 0;
  line-height: 2.75;
  font-size: 1.5rem;
  margin-right: 0.5em;
  font-weight: 400;
  color: var(--clr-white);
  font-family: var(--ff-serif);
  cursor: pointer;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuIcon {
  color: white;
  margin-left: 1.5em;
  height: 1.75rem;
  cursor: pointer;
}

.container {
  color: var(--clr--white);
  background-color: var(--clr-primary);
  position: fixed;
  width: 100%;
  box-shadow: var(--box-shadow);
  z-index: 99;
  padding: 0;
}

.icon {
  display: none;
}

.link {
  display: none;
}

@media screen and (min-width: 750px) {
  .menuIcon {
    display: none;
  }

  .icon {
    height: 1.25em;
    margin-right: 0.5em;
    display: block;
  }

  .link {
    color: var(--clr-white);
    background-color: var(--clr-primary);
    line-height: 3.25em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.08s;
    font-size: 1.15rem;
    padding: 0 0.5em;
  }

  .link:hover,
  .link:focus {
    filter: brightness(1.125);
  }

  .navContainer {
    display: flex;
  }
}
