.link {
  color: var(--clr-white);
  line-height: 2.5;
  background-color: var(--clr-primary);
  opacity: 92%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.08s;
  padding-bottom: 0.25em;
  font-size: 1.15rem;
}

.link:hover,
.link:focus {
  filter: brightness(1.125);
}

@mixin nav-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: all 150ms ease-in-out;
  width: 100%;
}

.nav {
  @include nav-style();
}

.navHidden {
  @include nav-style();
  opacity: 0%;
  transform: translateY(-15px);
  pointer-events: none;
}

.icon {
  height: 1.25em;
  margin-right: 0.5em;
}

@media screen and (min-width: 750px) {
  .nav {
    display: none;
  }

  .navHidden {
    display: none;
  }
}
